body{
    background-color: #0c090A;
    display: flex;
    flex-direction: row;
    padding-left: 350px;
    color:  white;
    font-family: Roboto, Arial;
    padding-bottom: 500px;
}
.middle-section{
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
}
.header{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    }
    .header img{
        height: 40px;
        border-radius: 20px;  
    }
.tweeting-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 150px;
    margin-top: 40px;
}
.typing-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.typing-area input{
    background-color: #0c090A;
    height: 50px;
    border: none;
    color: white;
    font-family: Roboto, Arial;
    font-size: 14px;
    white-space: inherit;
}
.typing-area input::placeholder{
    font-family: Roboto, Arial;
    font-size: 14px;
    color: grey;
}
.typing-area img{
    height: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
.attach-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.profile-pic{
    height: 45px;
    border-radius: 23px;
    margin-right: 15px;
}
.tweet-btn{
    margin-left: 250px;
    padding: 10px 20px;
    background-color: rgb(10, 169, 231);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}
section hr{
    color: white;
}

/* Tweets */
.tweet{
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;

}
.column-1{
    font-weight: bold;
    font-size: 13px;
    margin-left: 50px;
}
.topic{
    color: grey;

}
.see-more{
    color: rgb(10, 169, 231);
}
.column-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.options-icon{
    font-weight: bold;
    font-size: 15px;
    border-left: 70px;
}
.user-id{

}